{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-12">
            <h1>{{ _('Registration management') }} : {{ event.title }}</h1>
            <a href="{{ url_for('event', event_id=event.id) }}" class="btn btn-secondary mb-3">{{ _('Back to the event') }}</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <p><strong>{{ _('Registered') }} :</strong> {{ registrations|length }}</p>
            <p><strong>{{ _('Presents') }} :</strong> {{ registrations|selectattr('attended')|list|length }}</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <form id="bulk-attendance-form">
                <div class="form-group">
                    <label for="bulk-emails">{{ _('Extract emails and check those present (paste emails separated by commas or lines)') }} :</label>
                    <textarea class="form-control" id="bulk-emails" rows="3" placeholder="email1@example.com, email2@example.com"></textarea>
                </div>
                <button type="button" class="btn btn-success" onclick="extractAndMarkAttendance()">{{ _('Extract emails and check present') }}</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" id="attendance-form">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>{{ _('Last Name') }}</th>
                                <th>{{ _('First Name') }}</th>
                                <th>{{ _('Email') }}</th>
                                <th>{{ _('Unique Key') }}</th>
                                <th>{{ _('Present?') }}</th>
                                <th>{{ _('Actions') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for registration in registrations %}
                                <tr>
                                    <td>{{ registration.last_name }}</td>
                                    <td>{{ registration.first_name }}</td>
                                    <td>{{ registration.email|safe }}</td>
                                    <td>{{ registration.unique_key }}</td>
                                    <td>
                                        <input type="checkbox" name="attended_{{ registration.id }}" {% if registration.attended %}checked{% endif %} data-email="{{ registration.email|strip_html }}">
                                    </td>
                                    <td>
                                        <button type="button" onclick="deleteRegistration({{ registration.id }})" class="btn btn-danger btn-sm">{{ _('Delete') }}</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button type="submit" name="action" value="check_all" class="btn btn-primary mt-3">{{ _('Mark all as present') }}</button>
                <button type="submit" name="action" value="update_attendance" class="btn btn-success mt-3">{{ _('Update presence') }}</button>
                <a href="{{ url_for('extract_attendance', event_id=event.id) }}" class="btn btn-secondary mt-3">{{ _('Extract registrees in csv') }}</a>
            </form>
        </div>
    </div>
</div>
<!-- Inclure Quill CSS et JS -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">

<script>
    function extractAndMarkAttendance() {
        const emails = document.getElementById('bulk-emails').value.split(/[\n,]+/);
        let countChecked = 0;

        emails.forEach(email => {
            const cleanEmail = email.trim().replace(/<.*?>/g, '');
            const checkbox = document.querySelector(`input[type="checkbox"][data-email="${cleanEmail}"]`);
            if (checkbox) {
                checkbox.checked = true;
                countChecked++;
            } else {
                console.log("{{ _('Not matching email found') }}:", cleanEmail);
            }
        });

        if (countChecked > 0) {
            alert(`${countChecked} {{ _('updated cell(s). Click "Update Presence" to save.') }}`);
        } else {
            alert('{{ _('No matching email found') }}');
        }
    }

    function deleteRegistration(registrationId) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = "{{ url_for('mark_attendance', event_id=event.id) }}";

        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'action';
        input.value = 'delete_' + registrationId;

        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }
</script>
{% endblock %}
