{% extends 'base.html' %}

{% block content %}
<style>
    .certificate {
        width: 800px;
        margin: auto;
        padding: 20px;
        border: 2px solid #000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
    }
    .certificate h1 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 10px;
    }
    .certificate p {
        font-size: 16px;
        line-height: 1.6;
    }
    .certificate .details {
        margin-top: 20px;
    }
    .certificate .signature {
        margin-top: 50px;
        text-align: center;
    }
    .certificate .signature-image {
        display: block;
        margin: 0 auto 20px;
        max-width: 250px;
        height: auto;
    }
    .buttons {
        text-align: center;
        margin-top: 20px;
    }
    .buttons button {
        margin: 5px;
        padding: 10px 20px;
        font-size: 16px;
    }
</style>
<div class="certificate">
    <h1>Certificat de Présence</h1>
    <p>Nom de la réunion : {{ event.title }}</p>
    <p>Date : {{ event.date.strftime('%d-%m-%Y') }}</p>
    {% if event.organizer %}
        <p>L'organisateur "{{ event.organizer }}" atteste par ce certificat que {{ registration.first_name }} {{ registration.last_name }} a assisté à la réunion.<br></p>
    {% endif %}
    {% if event.eligible_hours %}
        <p>Le programme de cette réunion compte "{{ event.eligible_hours }}" heures éligibles à la formation continue en expérimentation animale.<br></p>
		<p> Programme détaillé : {{ event.program|safe }}</p>
    {% endif %}
        <div class="signature">
        
        <p>Nous vous remercions sincèrement d'avoir assisté à cet événement.<br></p>
		<p>Ce certificat peut être présenté aux autorités compétentes pour faire valoir les heures de formation continue.<br></p>
		<p>Cordialement</p>
		{% if event.signature_url %}
            <p>Signature de l'organisateur</p>
			<img src="{{ url_for('uploaded_file', filename=event.signature_url) }}" alt="Signature de l'organisateur" class="signature-image">

        {% endif %}
    </div>
</div>
<div class="buttons">
    <button onclick="window.print()">Imprimer</button>
</div>
{% endblock %}
