{% extends 'base.html' %}

{% block content %}
<h1>{{ _('Modify the event') }} : {{ event.title }}</h1>
<form id="eventForm" method="POST" enctype="multipart/form-data" action="{{ url_for('edit_event', event_id=event.id) }}" onsubmit="return validateForm()">
    <label for="title">{{ _('Title') }}*:</label>
    <input type="text" id="title" name="title" value="{{ event.title }}" required><br>

    <label for="description">{{ _('Description') }}*:</label>
    <div id="description">{{ event.description | safe }}</div>
    <input type="hidden" id="hiddenDescription" name="description" value="{{ event.description | safe }}" required><br>

    <label for="photo_url">{{ _('URL of the picture') }}:</label>
    <input type="url" id="photo_url" name="photo_url" value="{{ event.photo_url }}"><br>

    <label for="program">{{ _('Programme') }}*:</label>
    <div id="program">{{ event.program | safe }}</div>
    <input type="hidden" id="hiddenProgram" name="program" value="{{ event.program | safe }}" required><br>

    <div class="form-group">
        <label for="date">{{ _('Date of the event') }}*:</label>
        <input type="date" id="date" name="date" class="form-control" value="{{ event.date.strftime('%Y-%m-%d') }}" required>
    </div>
    <div class="form-group">
        <label for="start_time">{{ _('Start Time') }}:</label>
        <input type="time" id="start_time" name="start_time" class="form-control" value="{{ event.start_time.strftime('%H:%M') if event.start_time else '' }}">
    </div>
    <div class="form-group">
        <label for="end_time">{{ _('End Time') }}:</label>
        <input type="time" id="end_time" name="end_time" class="form-control" value="{{ event.end_time.strftime('%H:%M') if event.end_time else '' }}">
    </div>
    <div class="form-group">
        <label for="status">{{ _('Status') }}*:</label>
        <select id="status" name="status" class="form-control" required>
            <option value="hidden" {% if event.status == 'hidden' %}selected{% endif %}>{{ _('Hidden') }}</option>
            <option value="visible" {% if event.status == 'visible' %}selected{% endif %}>{{ _('Visible') }}</option>
            <option value="archived" {% if event.status == 'archived' %}selected{% endif %}>{{ _('Archived') }}</option>
        </select>
    </div>

    <label for="organizer">{{ _('Organizer') }}*:</label>
    <input type="text" id="organizer" name="organizer" value="{{ event.organizer }}" required><br>

    <label for="eligible_hours">{{ _('Number of training hours') }}*:</label>
    <input type="number" step="0.1" id="eligible_hours" name="eligible_hours" value="{{ event.eligible_hours }}" required><br>

    <label for="signature">{{ _('Organizer signature') }} :</label>
    <input type="file" id="signature" name="signature" accept="image/*" onchange="validateImageSize(this)"><br>

    <button type="submit" class="btn btn-success">{{ _('Update the event') }}</button>
    <button type="button" class="btn btn-danger" onclick="deleteEvent()">{{ _('Delete the event') }}</button>
</form>

<!-- Inclure Quill CSS et JS -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Vérifiez que les éléments existent avant d'initialiser Quill
        var descriptionElement = document.getElementById('description');
        var programElement = document.getElementById('program');

        console.log('Description Element:', descriptionElement);
        console.log('Program Element:', programElement);

        if (descriptionElement && programElement) {
            try {
                var quillDescription = new Quill('#description', {
                    theme: 'snow'
                });

                var quillProgram = new Quill('#program', {
                    theme: 'snow'
                });

                // Ajouter un écouteur d'événement pour sauvegarder le contenu
                quillDescription.on('text-change', function() {
                    document.querySelector('input[name="description"]').value = quillDescription.root.innerHTML;
                });

                quillProgram.on('text-change', function() {
                    document.querySelector('input[name="program"]').value = quillProgram.root.innerHTML;
                });

                // Set initial values for Quill editors
                quillDescription.clipboard.dangerouslyPasteHTML(document.querySelector('input[name="description"]').value);
                quillProgram.clipboard.dangerouslyPasteHTML(document.querySelector('input[name="program"]').value);
            } catch (error) {
                console.error('Erreur lors de l\'initialisation de Quill:', error);
            }
        } else {
            console.error('Les éléments cibles pour Quill ne sont pas trouvés dans le DOM.');
        }
    });

    function validateForm() {
        var description = document.querySelector('input[name="description"]').value;
        var program = document.querySelector('input[name="program"]').value;
        var title = document.getElementById('title').value;
        var date = document.getElementById('date').value;
        var organizer = document.getElementById('organizer').value;

        console.log('Description:', description);
        console.log('Program:', program);
        console.log('Title:', title);
        console.log('Date:', date);
        console.log('Organizer:', organizer);

        if (title.trim() === '' || date.trim() === '' || organizer.trim() === '') {
            alert('Veuillez remplir tous les champs obligatoires.');
            return false;
        }
        return true;
    }

    function validateImageSize(input) {
        const file = input.files[0];
        if (file) {
            const img = new Image();
            img.onload = function() {
                if (img.width > 800 || img.height > 600) {
                    alert('La photo doit être plus petite que 800x600.');
                    input.value = '';
                }
            };
            img.src = URL.createObjectURL(file);
        }
    }

    function deleteEvent() {
        if (confirm('Êtes-vous sûr de vouloir supprimer l\'événement ?')) {
            const form = document.getElementById('eventForm');
            form.action = "{{ url_for('delete_event', event_id=event.id) }}";
            form.submit();
        }
    }
</script>

{% endblock %}
