{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <h1>{{ event.title }}</h1>
            <h2><p><strong>{{ _('Date') }} :</strong> {{ event.date.strftime('%d-%m-%Y') }}
                {% if event.start_time %}
                    {{ _('from') }} {{ event.start_time.strftime('%H:%M') }}
                {% endif %}
                {% if event.end_time %}
                    {{ _('to') }} {{ event.end_time.strftime('%H:%M') }}
                {% endif %}
                ({{ event.timezone }}) {# Display Timezone #}
            </p></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="event-description">
                <h3>{{ _('Description') }}</h3>
                <div>{{ event.description|safe }}</div>
            </div>
            <div class="event-program mt-4">
                <h3>{{ _('Program') }}</h3>
                <div>{{ event.program|safe }}</div>
            </div>
        </div>
	<div class="col-md-4">
		{% if event.photo_url %}
			<img src="{{ event.photo_url }}" class="img-fluid mb-3" alt="{{ event.title }}" style="max-width: 400px; height: auto;">
		{% endif %}
		<div class="event-details mt-3">
			{% if event.organizer %}
				<p><strong>{{ _('Organizer') }} :</strong> {{ event.organizer }}</p>
			{% endif %}
			{% if event.location %}
				<p><strong>{{ _('Location') }} :</strong> {{ event.location }}</p>
			{% endif %}
			{% if event.eligible_hours %}
				<p><strong>{{ _('Training hours') }}:</strong> {{ event.eligible_hours }}</p>
			{% endif %}
			<div class="event-actions mt-3">
				
            {% if event.status == 'hidden' %}
				{% if current_user.role == 'super-admin' or (current_user.role == 'editor' and event.created_by == current_user.id) %}
					<a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-warning btn-block mb-2">{{ _('Modify event') }}</a>
					<form id="deleteForm" method="POST" action="{{ url_for('delete_event', event_id=event.id) }}">
						<button type="button" class="btn btn-danger btn-block"
								data-confirm-message="{{ _('Are you sure to delete this event ?') }}"
								onclick="confirmDelete(this)">{{ _('Delete the event') }}</button>
					</form>
				{% endif %}
			{% elif event.status == 'visible' %}
				<div class="mb-2">
					<a href="{{ url_for('register_page', event_id=event.id) }}" class="btn btn-primary btn-block">{{ _('Register') }}</a>
					<a href="{{ url_for('unregister_page', event_id=event.id) }}" class="btn btn-danger btn-block">{{ _('Unregister') }}</a>
				</div>

                <a href="{{ url_for('download_ics', event_id=event.id) }}" class="btn btn-info btn-block mb-2">{{ _('Download Calendar (.ics)') }}</a>
				
				<a href="{{ url_for('request_certificate') }}" class="btn btn-secondary btn-success btn-block mb-2">{{ _('Ask a certificate of attendance') }}</a>
				
				{% if current_user.is_authenticated %}
					{% if current_user.role == 'super-admin' or (current_user.role == 'editor' and event.created_by == current_user.id) %}
                        <form method="POST" action="{{ url_for('update_status', event_id=event.id) }}" class="mb-2">
                            <select name="status" class="form-control" onchange="this.form.submit()">
                                <option value="hidden" {% if event.status == 'hidden' %}selected{% endif %}>{{ _('Hidden') }}</option>
                                <option value="visible" {% if event.status == 'visible' %}selected{% endif %}>{{ _('Visible') }}</option>
                                <option value="archived" {% if event.status == 'archived' %}selected{% endif %}>{{ _('Archived') }}</option>
                            </select>
                        </form>
						<a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-warning btn-block mb-2">{{ _('Modify event') }}</a>
						<a href="{{ url_for('mark_attendance', event_id=event.id) }}" class="btn btn-info btn-block mb-2">{{ _('See registered') }}</a>
					{% endif %}
				{% endif %}
				{% if current_user.role == 'super-admin' or (current_user.role == 'editor' and event.created_by == current_user.id) %}
					<a href="{{ url_for('extract_attendance', event_id=event.id) }}" class="btn btn-secondary btn-block mb-2">{{ _('Extract registered') }}</a>
				{% endif %}
			{% elif event.status == 'archived' %}
				<a href="{{ url_for('request_certificate') }}" class="btn btn-secondary btn-success btn-block mb-2">{{ _('Ask a certificate of attendance') }}</a>
				{% if current_user.is_authenticated %}
					{% if current_user.role == 'super-admin' or (current_user.role == 'editor' and event.created_by == current_user.id) %}
                        <form method="POST" action="{{ url_for('update_status', event_id=event.id) }}" class="mb-2">
                            <select name="status" class="form-control" onchange="this.form.submit()">
                                <option value="hidden" {% if event.status == 'hidden' %}selected{% endif %}>{{ _('Hidden') }}</option>
                                <option value="visible" {% if event.status == 'visible' %}selected{% endif %}>{{ _('Visible') }}</option>
                                <option value="archived" {% if event.status == 'archived' %}selected{% endif %}>{{ _('Archived') }}</option>
                            </select>
                        </form>
						<a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-warning btn-block mb-2">{{ _('Modify event') }}</a>
						<a href="{{ url_for('mark_attendance', event_id=event.id) }}" class="btn btn-info btn-block mb-2">{{ _('See registered') }}</a>
						<a href="{{ url_for('extract_attendance', event_id=event.id) }}" class="btn btn-secondary btn-block mb-2">{{ _('Extract registered') }}</a>
						<form id="deleteForm" method="POST" action="{{ url_for('delete_event', event_id=event.id) }}">
							<button type="button" class="btn btn-danger btn-block"
									data-confirm-message="{{ _('Are you sure to delete this event ?') }}"
									onclick="confirmDelete(this)">{{ _('Delete the event') }}</button>
						</form>
					{% endif %}
				{% endif %}
			{% endif %}
            </div>
        </div>
    </div>
</div>

<script>
function confirmDelete(button) {
    const message = button.getAttribute('data-confirm-message');
    if (confirm(message)) {
        document.getElementById('deleteForm').submit();
    }
}
</script>
{% endblock %}
