{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <h1>{{ event.title }}</h1>
            <h2><p><strong>Date :</strong> {{ event.date.strftime('%d-%m-%Y') }}</p></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="event-description">
                <h3>Description</h3>
                <div>{{ event.description|safe }}</div>
            </div>
            <div class="event-program mt-4">
                <h3>Programme</h3>
                <div>{{ event.program|safe }}</div>
            </div>
        </div>
	<div class="col-md-4">
		{% if event.photo_url %}
			<img src="{{ event.photo_url }}" class="img-fluid mb-3" alt="{{ event.title }}" style="max-width: 400px; height: auto;">
		{% endif %}
		<div class="event-details mt-3">
			{% if event.organizer %}
				<p><strong>Organisateur :</strong> {{ event.organizer }}</p>
			{% endif %}
			{% if event.eligible_hours %}
				<p><strong>Heures éligibles selon l'organisateur:</strong> {{ event.eligible_hours }}</p>
			{% endif %}
			<div class="event-actions mt-3">
				
            {% if event.status == 'visible' %}
                <a href="{{ url_for('register_page', event_id=event.id) }}" class="btn btn-primary">S'inscrire</a>
				<a href="{{ url_for('unregister_page', event_id=event.id) }}" class="btn btn-danger">Se Désinscrire</a>
            {% endif %}
				
				<a href="{{ url_for('request_certificate') }}" class="btn btn-secondary btn-success">Demander un Certificat</a>
				
				{% if current_user.is_authenticated %}
					{% if current_user.role == 'super-admin' or (current_user.role == 'editor' and event.created_by == current_user.id) %}
                                <form method="POST" action="{{ url_for('update_status', event_id=event.id) }}" style="display:inline;">
                                    <select name="status" class="form-control-sm" onchange="this.form.submit()">
                                        <option value="hidden" {% if event.status == 'hidden' %}selected{% endif %}>Caché</option>
                                        <option value="visible" {% if event.status == 'visible' %}selected{% endif %}>Visible</option>
                                        <option value="archived" {% if event.status == 'archived' %}selected{% endif %}>Archivé</option>
                                    </select>
                                </form>
						<a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-warning btn-block mb-2">Modifier l'Événement</a>
						<a href="{{ url_for('mark_attendance', event_id=event.id) }}" class="btn btn-info btn-block">Voir les Inscrits</a>
					{% endif %}
				{% endif %}
				{% if current_user.role == 'super-admin' or (current_user.role == 'editor' and event.created_by == current_user.id) %}
    <a href="{{ url_for('extract_attendance', event_id=event.id) }}" class="btn btn-secondary btn-block mb-3">Extraire les Inscrits</a>
	<form method="POST" action="{{ url_for('delete_event', event_id=event.id) }}" style="display:inline;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?')">Supprimer l'Événement</button>
                </form>
{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
